@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
         *{
             margin: 0;
             padding: 0;
             box-sizing: border-box;
             font-family:'Poppins', sans-serif;
         }
         .container{
             background-image: url('https://il.faceprep.in/ProGrad/guess-number-bg.png');
             background-color: #e554f8;
             background-size: cover;
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             width: 100%;
             height: 100vh;
             line-height: 1.4;
             padding: 0 20px;
             text-align: center;
         }
         .logo{
             font-size: 2rem;
             color: rgb(241, 198, 133);
             width: 400px;
             font-weight: 600;
         }
         .button{
             background-color: coral;
             margin: 30px 0;
             border-radius: 20px;
             padding: 10px 15px;
             min-width: 100px;
             text-align: center;
             font-size: 1.2rem;
             color: rgb(240, 232, 230);
             cursor: pointer;
         }
         #input-container{
             display: flex;
             justify-content: space-around;
             align-items: center;
         }
         h1{
            color: rgb(241, 198, 133);
            text-align: center;
            margin: 20px;
         }
         input{
             width: 200px;
             margin: 30px;
             height: 2.5em;
             text-align: center;
         }
         input[type='number']{
             -moz-appearance: textfield;
         }
         input::-webkit-outer-spin-button,
         input::-webkit-inner-spin-button{
             -webkit-appearance: none;
         }
         .lives{
             color: white;
         }
         #msg{
             font-size: 1.5rem;
             background-color: orangered;
             padding: 5px 15px;
             border-radius: 2px;
             text-align: center;
             display: none;
         }